RewriteEngine On
RewriteBase /frontend/dist/

# Redirigir URLs sin la extensión .html al archivo correspondiente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]
