version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: "frontend/Dockerfile"
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: "backend/Dockerfile"
    ports:
      - "3000:3000"
    depends_on:
      - database

  database:
    image: mongo:latest
    ports:
      - "27017:27017"
