h1 {
    font-size: 3rem;
    color: black;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.location {
    width: 0.8rem;
    height: 0.8rem;

}

.right-container {
    margin-right: 20px;
}

.custom-hr {
    width: 100%;

    height: 1px;
    background-color: darkgray;
    border: none;

}


.actividades {
    margin-left: 20px;
    text-align: center;
}

.vertical-line {
    width: 1px;
    height: 50px;
    background-color: darkgray;
    border: none;
    margin-left: 40px;

}

.text-container {
    max-width: 365px;

}

button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

li {
    margin: 13px;
    font-size: 12px;

}



@media (min-width: 1001px) {
    .mov {
        display: flex;
    }

}


@media (max-width: 1100px) {
    .mov {
        display: none;
    }

    .block {
        display: block;
    }
}

@media (max-width: 850px) {
    .actividades p {
        font-size: 12px;

    }
}

@media (max-width: 700px) {
    .actividades p {
        font-size: 8px;
        margin-top: 20px;

    }
}

@media (max-width: 700px) {
    .izq {
        margin-left: 14px !important;



    }
}

@media (max-width: 700px) {
    .der {
        margin-right: 0px !important;

    }
}


@media (max-width: 700px) {
    .mov1 {
        display: none;
    }
}


@media (max-width: 700px) {
    .actividades p {
        margin-left: 13px !important;

    }
}

@media (max-width: 700px) {
    .vertical-line {
        margin-left: 12px;

    }
}



@media (min-width: 768px) {
    .th {
        text-decoration-thickness: 1.5px !important;
        text-underline-offset: 5px !important;
    }
}


@media (min-width: 1100px) {
    .fotos-w {
width: 400px;   }
  }



