doctype html
html(lang="en")
  head
    include head.pug
  body.bg-black(onload="startVideo()")
    .menu-toggle(onclick="toggleMenu()") &#9776;
    .menu#menu
      a(href="#") Home
      a(href="#") About
      a(href="#") Services
      a(href="#") Contact
    a-scene(vr-mode-ui="enabled: false", cursor="rayOrigin: mouse", id="camera", position="0 1.6 0")
      a-camera
        a-look-controls(pitchEnabled="false")
      a-videosphere(src="#video", rotation="0 270 0")
      video#video(loop muted autoplay crossorigin="anonymous" webkit-playsinline="true" playsinline="true" onloadedmetadata="this.currentTime=0")
        source(type="video/mp4", src="../assets/videos/agencia_zona.mp4")
      img(src="../assets/imagenes/submarca_agenciaempleo_vertical_madrid_negro.png", style="z-index: 999; position: absolute; display: block; margin-left: 40px; margin-top: 30px;", width="300px")
      h2(style="color: black;") Agencia
      section.weather-container.sm.gap-2.text-white.gap-4.flex.items-center.justify-between
        .section__content
          .visible.weather__temp#js_w_temp
          .visible.weather__icon#js_w_icon
      .flechas.sm.gap-2.text-white.gap-4.flex.items-center.justify-between
        a(href="entrada.html")
          h3.text-black.flex ACCESO PRINCIPAL
        a(href="entrada.html")
          svg.flecha1.justify-start.w-5(type="button", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 126.667 89.067")
            path(fill="black", d="M0 50.933h101.201L72.667 79.467l9.466 9.6 44.534-44.534L82.133 0h-.001l-9.465 9.6 27.868 27.867H0z")
      a.uk-button.btnmg.uk-button-default(href="#modal-overflow", uk-toggle) Conoce +
      img.visible(src="assets/white-swipe.png", alt="")
      #modal-overflow(style="opacity: 0.8;", uk-modal)
        .uk-modal-dialog#alcala
          button.uk-modal-close-default(type="button", uk-close)
          .uk-modal-body(uk-overflow-auto)
            p#contenido-alcala
      .oculto.swipe#icon-container
        .path
        .hand-icon
    include scripts.pug
