doctype html
html
include head.pug

  body.bg-black(onload="startVideo()")
    a-scene#camera(cursor="rayOrigin: mouse", onclick="startVideo()", position="0 1.6 0")
      a-camera
        a-look-controls(pitchEnabled="false")
      a-videosphere(src="#video", rotation="0 270 0")
      #black-overlay
      video#video(loop, muted, autoplay, crossorigin="anonymous", webkit-playsinline="true", playsinline="true", onloadedmetadata="this.currentTime=0")
        source(type="video/mp4", src="assets/videos editados 360/angel.webm")
        source(type="video/mp4", src="assets/videos editados 360/angel.mp4")
      a(href="puertalcala.html")
        h1.mt-6.nab Retiro 360
      h2 Ángel Caído
      a(href="agenda.html")
        h4.mt-6 Actividades
      .flechas.sm.gap-2.text-white.gap-4.flex.items-center.justify-between
        a(href="palaciocristal.html", class="text-white flex items-center hover:text-white")
          svg.flecha2.justify-start.w-5(type="button", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 126.667 89.067")
            path(d="M0 50.933h101.201L72.667 79.467l9.466 9.6 44.534-44.534L82.133 0h-.001l-9.465 9.6 27.868 27.867H0z", fill="white")
        a(href="palaciocristal.html")
          h3.text-white PALACIO DE CRISTAL
        a(href="rosaleda.html")
          h3.text-white LA ROSALEDA
        a(href="rosaleda.html", class="text-white flex items-center hover:text-white")
          svg.flecha1.justify-start.w-5(type="button", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 126.667 89.067")
            path(d="M0 50.933h101.201L72.667 79.467l9.466 9.6 44.534-44.534L82.133 0h-.001l-9.465 9.6 27.868 27.867H0z", fill="white")
      a.uk-button.uk-button-default(href="#modal-overflow", uk-toggle) Conoce +
      #modal-overflow(style="opacity: 0.8;", uk-modal)
        #angel.uk-modal-dialog
          button.uk-modal-close-default(type="button", uk-close)
          .uk-modal-body(uk-overflow-auto)
            p#contenido-angel
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function () {
        cargarContenidoMarkdown();
  
        function cargarContenidoMarkdown() {
          $.ajax({
            url: 'contenido.md',
            success: function (data) {
              var start = data.indexOf('# angel');
              var end = data.indexOf('##', start + 1);
              var contenido = data.substring(start, end != -1 ? end : data.length).trim();
              contenido = contenido.replace(/^# angel\s*/gm, '');
              $('#contenido-angel').html(contenido);
            }
          });
        }
      });
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js")
